nav{ margin: 25px 0}

a {
   color: white;
   text-decoration: none !important;
}

ul{
   list-style-type:none;
   font-size: 1.2em;
}

#nav-container{
   background-color: gray;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding: 0 25px;
   margin-bottom: 25px;
}

#nav-center-text {
   color: white;
   font-size: 2em;
   font-family: 'Merriweather Sans', sans-serif;
   
}

#nav-logo{

}

#nav-logo-container {
   width: 100px;
   height: 100px;
   margin: 20px;
   background-color: aqua;
   border: 1px black solid;
   
}

