.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background-color: black;
}

.form{
  margin: 0 15px;
  background-color: darkgray;
  min-width: 40%;
  padding: 20px 50px;
  border-radius: 15px;
  clear: both;
}

input {
  border: 2px solid blue;
  background-color: lightblue;
  border-radius: 2px;
  margin: 10px 0;
  width: 60px;
}
button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 15px;
}

#list-and-form{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#load-list-container{
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: aqua;
  min-width: 60%;
  border-radius: 15px;

}

#loads-table-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between; 

}
#loads-table{

  margin: 0 auto;
  display: flex;
  justify-content: center;
}

#simulation{
  background-color: green;
  color: white;
}

#realtime-wattage{
  width: 1440px;
  height: 200px; 
  background-color: blue;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

#stopwatch-wattage-container{
  border: black solid 2px; 
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.stop-watch{
  height: 25vh;
  width: 43vw;
  background-color: #0d0c1b;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#chart-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

}