.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  background-color: black;
}

#reg-login-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 400px;
  margin: auto;
  background-color: darkgray;

}

.form{

  padding: 20px 50px;
  border-radius: 15px;
  clear: both;
}

input {
  border: 2px solid blue;
  background-color: lightblue;
  border-radius: 2px;
  margin: 10px 0;
  width: 80px;
}
button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 14px 28px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 15px;
}

#list-and-form{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#load-list-container{

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: aqua;
  min-width: 60%;
  border-radius: 15px;

}

.del-button{
  color: red;
  background-color: lightgray;
  border: 1px black solid; 
}

#loads-table-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between; 

}
#loads-table{

  margin: 0 auto;
  display: flex;
  justify-content: center;
  font-size: 2em;
}

#simulation{
  background-color: black;
  color: white;
}

#realtime-wattage{
  width: 1440px;
  height: 200px;
  border: 3 px darkgray; 
  background-color: lightgray;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

#stopwatch-wattage-container{
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.stop-watch{
  height: 25vh;
  width: 25%;
  background-color: #0d0c1b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#wattage-meter{
  color:rgb(87, 174, 1);
  height: 25vh;
  width: 25%;
  background-color: #0d0c1b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

#total-wattage{
  font-size: 8em;
  margin-top: 20px;
}
#chart-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

}